<nav id="menu">
    <header class="major">
        <!-- <h2>Menu</h2> -->
    </header>
    <ul>

        {% if page.url != "/" %}
        <li><a href="{{ site.baseurl }}/"><i class="icon fa-home"></i> Home</a></li>
        {% endif %}
       
        <!---
        <li>
            <span class="opener"><i class="icon fa-android"></i> Bot Lessons (Classroom Version) </span>
            <ul>
                    {% for lesson in site.bot_lessons %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        
        
        {% assign ifLesson = '' %}
        {% if page.url contains "lessons" %}
        {% assign ifLesson = 'lessons/' %}
        {% endif %}

        {% if page.collection == "bot_lessons" %}
        {% include sidebar/lessonsegment.html %}
        {% endif %}
        --->
        
        <li>
            <span class="opener"><i class="icon fa-android"></i> Barnabas Bot </span>
            <ul>
                    {% for lesson in site.bot_lessons_home %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        {% assign ifLesson = '' %}
        {% if page.url contains "lessons" %}
        {% assign ifLesson = 'lessons/' %}
        {% endif %}

        {% if page.collection == "bot_lessons_home" %}
        {% include sidebar/lessonsegment.html %}
        {% endif %}

        <li>
            <span class="opener"><i class="icon fa-car"></i> Barnabas Racer </span>
            <ul>
                    {% for lesson in site.racer_lessons_home %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        {% if page.collection == "racer_lessons_home"%}
        {% include sidebar/lessonsegment.html %}
        {% endif %}
        
        <li>
            <span class="opener"><i class="icon fa-magic"></i> Magic Box</span>
            <ul>
                    {% for lesson in site.magic_box %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        {% if page.collection == "magic_box"%}
        {% include sidebar/lessonsegment.html %}
        {% endif %}

        <li>
            <span class="opener"><i class="icon fa-cogs"></i> Tinker Series</span>
            <ul>
                    {% for lesson in site.tinker_lessons %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        {% if page.collection == "tinker_lessons"%}
        {% include sidebar/lessonsegment.html %}
        {% endif %}

        <li><a href="https://github.com/{{ site.repository }}/edit/master/{{ ifLesson }}{{ page.path }}"><i class="icon fa-edit"></i> &nbsp;Improve this page</a></li>
        <li>
            <span class="opener"><i class="icon fa-download"></i> Downloads</span>
            <ul>
                    <li><a href="{{ site.baseurl }}/bot_downloads"><i class="icon fa-android"></i> Bot</a></li>
                    <li><a href="{{ site.baseurl }}/racer_downloads"><i class="icon fa-car"></i> Racer</a></li>
                    <li><a href="https://www.barnabasrobotics.com/resources/" target="_blank"><i class="icon fa-windows"></i> Software</a></li>
            </ul>
        </li>
        <li><a href="https://barnabasrobotics.com"><i class="icon fa-cogs"></i> BarnabasRobotics.com</a></li>
        <li><a href="https://shop.barnabasrobotics.com"><i class="icon fa-cogs"></i> E-Store</a></li>
    </ul>
</nav>
